.job-filters {
  display: flex;
  padding: 16px 0px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.location {
  padding-left: 10px;
}
.filter {
  margin: 0 8px;
  position: relative;
}

.filter label {
  display: block;
  font-size: 12px;
  color: #333;
  margin-bottom: 4px;
}

.filter select,
.filter input {
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #aaa;
}

.filter select:focus,
.filter input:focus {
  outline: none;
  border-color: #007bff;
}

@media (max-width: 768px) {
  .job-filters {
    padding: 8px;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .filter {
    width: 100%;
    margin-bottom: 8px;
  }
  .location {
    width: 100%;
    padding-left: 0px;
  }
  .company {
    width: 100%;
  }
}
